.advantages {
  padding: 35px 0 20px;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  .ul-style-none;
}

.advantages__item {
  margin-bottom: 30px;
  padding-top: 54px;
  line-height: 20px;
  background-repeat: no-repeat;

  &:last-child {
    margin-bottom: 0;
  }

  &_ecology {
    width: 180px;
    background-image: url("../img/icon-feature-flower.svg");
    background-position-x: 9px;
  }

  &_style {
    width: 205px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &_like {
    width: 185px;
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 6px;
  }

  &_handmade {
    width: 215px;
    background-image: url("../img/icon-feature-ball.svg");
    background-position-x: 2px;
  }

  &_support {
    position: relative;
    padding-top: 50px;

    &::before {
      .pseudo;
      top: 0;
      left: -6px;
      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &_gift {
    width: 205px;
    background-image: url("../img/icon-feature-gift.svg");
    background-position-x: 4px;
  }
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 29px;
  }

  .advantages__title {
    margin-bottom: 50px;
    margin-left: -5px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 334px;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    &_ecology {
      padding-right: 115px;
    }

    &_style {
      order: 2;
      padding-right: 94px;
    }

    &_like {
      order: 4;
      padding-right: 114px;
    }

    &_handmade {
      order: 1;
      padding-right: 79px;
    }

    &_gift {
      order: 5;
      padding-right: 94px;
    }

    &_support {
      order: 3;
      width: 334px;
    }
  }
}

@media (min-width: 1150px) {
  .advantages {
    width: 700px;
    padding-top: 60px;
    padding-bottom: 34px;
  }

  .advantages__item {
    width: 350px;
    margin-bottom: 57px;
  }

  &_ecology {
    padding-right: 118px;
  }
}
