.color-fieldset {
  padding-bottom: 5px;
}

.color-fieldset__legend {
  margin-bottom: 39px;
}

.color-fieldset__label {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding-top: 10px;
  padding-left: 64px;
  line-height: 18px;

  &::before {
    .pseudo;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid #444444;
  }

  &::after {
    .pseudo;
    top: 6px;
    left: 4px;
    display: none;
    width: 32px;
    height: 23px;
    background-image: url("../img/icon-tick.svg");
    transform: scale(0.7);
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }
}

.color-fieldset__input {
  &:checked + .color-fieldset__label::after {
    display: block;
  }

  &:focus + .color-fieldset__label::before {
    border: 2px solid #62d1ba;
  }

  &:disabled + .tcolor-fieldset__label::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: 768px) {
  .color-fieldset {
    position: relative;
    padding-top: 69px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
  }

  .color-fieldset__wrapper {
    display: flex;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .color-fieldset__legend {
    align-self: flex-start;
    width: 167px;
  }

  .color-fieldset__content-wrapper {
    width: 501px;
    column-count: 2;
  }
}

@media (min-width: 1150px) {
  .color-fieldset__wrapper {
    width: 1150px;
  }

  .color-fieldset__legend {
    width: 175px;
    text-align: center;
  }

  .color-fieldset__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    column-count: 1;
  }

  .color-fieldset__label {
    width: 175px;
    margin-right: 87px;

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}
