.contacts {
  padding: 40px 0 34px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
}

.contacts__type {
  width: 70px;
  margin-right: 6px;
}

.contacts__value {
  margin: 0;
  padding: 0;
  width: 180px;

  &_adress {
    width: 145px;
  }
}

.contacts__link {
  padding-bottom: 3px;
  color: #444444;
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.1);
  }
}

.contacts__map-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 457px;
  margin-bottom: 38px;

  &::before {
    content: "";
    position: absolute;
    top: 150px;
    right: 79px;
    z-index: -1;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
  }
}

.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contacts__button {
  margin: 0 auto 5px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .contacts {
    padding: 60px 0 50px;
  }

  .contacts__container {
    position: relative;

    &::before {
      .pseudo;
      top: -14px;
      right: 53px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__title {
    margin-bottom: 49px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    margin-bottom: 26px;
    font-size: 17px;
  }

  .contacts__item {
    width: 334px;
  }

  .contacts__value {
    width: 258px;
  }

  .contacts__map-container {
    margin-bottom: 56px;

    &::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .contacts__button {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    padding: 72px 50px 104px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__container {
    width: 350px;
    margin-left: 175px;
    padding: 0;
    padding-top: 69px;

    &::before {
      .pseudo;
      top: 61px;
      left: -112px;
    }
  }

  .contacts__map-container {
    width: 525px;
    margin: 0;
  }

  .contacts__button {
    position: absolute;
    bottom: 100px;
    left: 225px;
  }
}
