.feature-table {
  border-collapse: collapse;
}

.feature-table__cell {
  padding: 9px 10px 10px 0;
  border-bottom: 1px solid #ececec;
}

.feature-table__cell_name {
  width: 97px;
}

.feature-table__cell_value {
  width: 160px;
}

@media (min-width: 768px) {
  .feature-table__cell_name {
    width: 97px;
  }

  .feature-table__cell_value {
    width: 198px;
  }
}

@media (min-width: 1150px) {
  .feature-table__cell {
    padding: 8px 10px 12px 0;
  }
}
