.knitwork-order {
  padding: 23px 30px 28px;
}

.knitwork-order__description {
  width: 242px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.knitwork-order__fieldset {
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
  border: none;
}

.knitwork-order__legend {
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 16px;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;

  &::before {
    .pseudo;
    top: 50%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.knitwork-order__explanations {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.knitwork-order__button {
  margin-bottom: 25px;
  padding-bottom: 18px;
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
}

@media (min-width: 768px) {
  .knitwork-order {
    padding: 0 0 48px;
  }

  .knitwork-order__description {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .knitwork-order__legend::before {
    display: none;
  }

  .knitwork-order__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .knitwork-order__explanations {
    margin: 0;
    padding-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }

  .knitwork-order__button {
    width: 230px;
    margin: 0;
  }

  .knitwork-order__fieldset {
    &_email {
      margin-top: -5px;
      margin-bottom: 0;
    }

    &_extra {
      margin-bottom: 53px;
    }
  }
}

@media (min-width: 1150px) {
  .knitwork-order {
    padding-top: 0;
  }

  .knitwork-order__description {
    width: 700px;
    padding: 0;
  }

  .knitwork-order__wrapper {
    width: 700px;
    padding: 0;
  }

  .knitwork-order__fieldset_extra {
    margin-bottom: 50px;
  }
}
