.knitwork-order {
  padding: 23px 30px 29px;
}

.knitwork-order__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;

  &::before {
    .pseudo;
    top: 8px;
    right: 0;
    z-index: -1;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.knitwork-order__description {
  width: 242px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.knitwork-order__fieldset {
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
  border: none;
}

.knitwork-order__legend {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding-right: 17px;
  line-height: 16px;
  font-size: 17px;
  vertical-align: middle;
  color: #63d1bb;
  background-color: #ffffff;
  text-transform: uppercase;
}

.knitwork-order__explanations {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.knitwork-order__button {
  margin-bottom: 25px;
  padding-bottom: 18px;
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
  font-family: inherit;
}

@media (min-width: 768px) {
  .knitwork-order {
    padding: 0 0 48px;
  }

  .knitwork-order__wrapper {
    display: flex;
    width: 768px;
    padding: 0 50px;

    &::before {
      display: none;
    }
  }

  .knitwork-order__legend {
    padding-right: 0;
    background-color: transparent;
  }

  .knitwork-order__description {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .knitwork-order__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .knitwork-order__explanations {
    max-width: 350px;
    margin: 0;
    padding-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }

  .knitwork-order__button {
    width: 230px;
    margin: 0;
    padding: 16px 10px 16px 6px;
  }

  .knitwork-order__fieldset {
    &_email {
      margin-top: -5px;
      margin-bottom: 0;
    }

    &_extra {
      margin-bottom: 53px;
    }
  }
}

@media (min-width: 1150px) {
  .knitwork-order {
    padding-top: 0;
  }

  .knitwork-order__wrapper {
    width: 1150px;
  }

  .knitwork-order__description {
    width: 700px;
    padding: 0;
  }

  .knitwork-order__button-wrapper {
    width: 700px;
    padding: 0;
  }

  .knitwork-order__fieldset_extra {
    margin-bottom: 49px;
  }

  .knitwork-order__explanations {
    padding-bottom: 5px;
  }
}
