.logo {
  display: block;
  margin: 0;
  padding: 22px 118px 22px 116px;
}

.logo__link {
  display: block;
  width: 86px;
  height: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
