.logo {
  display: block;
  width: 100%;
  padding: 22px 5px 22px 116px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.logo__link {
  display: block;
  width: 86px;
  height: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 371px;
    padding-left: 50px;
    border-top: none;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  }
}

@media (min-width: 1150px) {
  .logo {
    width: 310px;
    padding-left: 58px;
  }
}
