.page {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.page__title {
  margin: 0;
  padding: 68px 10px 76px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.page__section-title {
  margin: 0;
}

.page__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  &_no-padding {
    padding: 0;
  }
}

.page__footer {
  background-color: #f1f1f1;
}

.page__footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page__footer-logo {
  display: none;
}

.page__social {
  margin: 0;
}

.page__product-order {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;

  &_active {
    display: block;
  }
}

.page__product {
  margin-bottom: 32px;
}

.page__video-block {
  margin-bottom: 58px;
}

.page__knitwork-order {
  margin: 0;
}

@media (min-width: 768px) {
  .page {
    min-width: 768px;
  }

  .page__container {
    width: 768px;
    padding: 0 50px;
  }

  .page__header {
    position: relative;
    background-color: #f1f1f1;

    &::before {
      .pseudo;
      top: 0;
      left: 0;
      width: 100%;
      height: 88px;
      background-color: #ffffff;
    }

    &_index {
      background-color: #f9f9f9;
    }
  }

  .page__title {
    margin-bottom: 84px;
    padding-top: 26px;
    padding-bottom: 61px;
    font-size: 43px;
    line-height: 50px;
    overflow: hidden;

    &_form {
      margin-bottom: 76px;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      width: 100vw;
      height: 15px;
      margin: 0 auto;
      bottom: -67px;
      left: -10px;
      background-image: url("../img/zigzag-fill-tablet.png");
    }
  }

  .page__promo {
    margin-bottom: 24px;
  }

  .page__advantages {
    margin: 0;
  }

  .page__footer {
    padding-top: 54px;
    padding-bottom: 52px;
  }

  .page__footer-logo {
    display: block;
    margin-top: -1px;
    margin-right: 76px;
  }

  .page__footer-container {
    align-items: center;
    justify-content: space-between;
  }

  .page__product {
    margin-bottom: 51px;
  }

  .page__video-block {
    margin-bottom: 61px;
  }
}

@media (min-width: 1150px) {
  .page {
    min-width: 1150px;
  }

  .page__title {
    margin-bottom: 130px;
    padding-bottom: 80px;
    font-size: 53px;
    line-height: 57px;

    &_form {
      margin-bottom: 121px;
    }

    &::after {
      height: 22px;
      bottom: -85px;
      background-image: url("../img/zigzag-fill-desktop.png");
      background-position-x: -14px;
    }
  }

  .page__container {
    width: 1150px;
  }

  .page__footer {
    padding-top: 52px;
  }

  .page__promo {
    margin-bottom: 100px;
  }

  .page__advantages {
    margin-left: 175px;
  }

  .page__reviews {
    margin-left: 175px;
  }

  .page__contacts {
    margin: 0 auto;
  }

  .page__product {
    margin-bottom: 47px;
  }

  .page__video-block {
    margin-bottom: 104px;
    margin-left: 680px;
  }
}
