.product-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product-item__link {
  display: block;

  color: #000000;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product-item__image {
  display: block;
  width: 260px;
  height: auto;
  overflow: hidden;
}

.product-item__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.product-item__description-wrapper {
  position: relative;
  width: 100%;
  padding: 26px 27px 0;
  border: 1px solid #ececec;
  overflow: hidden;
}

.product-item__description-wrapper_hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-item__description-wrapper_active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-item__description {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product-item__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid #ececec;
}

.product-item__price {
  width: 170px;
  margin: 0;
  padding-right: 30px;
  font-size: 15px;
}

.product-item__button {
  align-self: center;
  width: 21px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: rgba(35, 31, 32, 0.2);

  &:hover,
  &:focus {
    fill: #63d1bb;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: 768px) {
  .product-item__link_image {
    width: 333px;
  }

  .product-item__image {
    width: 334px;
  }

  .product-item__title {
    width: 240px;
    font-size: 20px;
  }

  .product-item__description-wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
    min-height: 333px;
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .product-item__description {
    font-size: 15px;
  }

  .product-item__wrapper {
    flex-direction: row;
    margin-top: auto;
    padding: 21px 3px 0 5px;
  }

  .product-item__price {
    width: 100px;
    padding-right: 0;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .product-item {
    width: 315px;
    flex-direction: column;
  }

  .product-item__link_image {
    width: 315px;
  }

  .product-item__image {
    width: 316px;
  }

  .product-item__description-wrapper {
    flex-grow: 1;
    width: 315px;
    min-height: 197px;
    padding-left: 25px;
  }

  .product-item__description {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .product-item__wrapper {
    padding-left: 0;
    padding-right: 3px;
  }
}
