.product {
  padding: 0;
  padding-top: 30px;
}

.product__list {
  margin: 0;
  .ul-style-none;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.product__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .product {
    padding: 0;
  }

  .product__item {
    margin-bottom: 54px;
  }
}

@media (min-width: 1150px) {
  .product__item {
    margin-right: 52px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 10px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
