.promo__slogan {
  min-height: 284px;
  margin: 0;
  padding: 77px 38px 10px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -10px;
}

.promo__list {
  .ul-style-none;
}
