.promo-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.promo-item__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 24px 95px 30px 28px;
  font-size: 19px;
  color: #ffffff;

  &:hover,
  &:focus {
    .promo-item__svg {
      fill: rgba(20, 144, 128, 0.7);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .promo-item__svg {
      fill: rgba(20, 144, 128, 0.3);
    }
  }

  &_interior {
    background-color: #63d1bb;
  }

  &_toys {
    background-color: #56c3b2;
  }
}

.promo-item__text {
  width: 120px;
  margin: 0;
  padding: 0;
}

.promo-item__svg {
  position: absolute;
  top: 50%;
  fill: rgba(20, 144, 128, 0.5);
  transform: translateY(-50%);

  &_interior {
    right: 37px;
  }

  &_toy {
    right: 27px;
  }
}

@media (min-width: 768px) {
  .promo-item {
    width: 334px;
  }

  .promo-item__link {
    padding: 27px 36px 36px;
  }

  .promo-item__text {
    width: 111px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .promo-item {
    width: 525px;
  }

  .promo-item__svg_toy {
    right: 36px;
  }

  .product-item__link_image {
    height: 462px;
  }
}
