.promo__slogan {
  min-height: 282px;
  margin: 0;
  padding: 68px 38px 10px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
  background-color: #e9eded;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-position: center -20px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.promo__list {
  .ul-style-none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo {
    background-color: #f9f9f9;

    .page__container {
      position: relative;

      &::after {
        .pseudo;
        bottom: 0;
        left: 0;
        width: 768px;
        height: 15px;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-size: 770px 21px;
      }
    }
  }

  .promo__slogan {
    min-height: 558px;
    padding-top: 84px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position-y: -68px;
    background-size: 1150px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .promo__list {
    position: relative;
    width: 668px;
  }
}

@media (min-width: 1150px) {
  .promo {
    .page__container::after {
      width: 1150px;
      height: 22px;
      background-size: 1247px 34px;
      background-position-x: -50px;
    }
  }

  .promo__slogan {
    min-height: 559px;
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .promo__list {
    width: 1050px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .promo {
    overflow: hidden;
  }
}
