.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 31px 0 40px;
}

.reviews__title {
  margin-bottom: 38px;
}

.reviews__content {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author {
  display: block;
  margin-bottom: 35px;
  font-style: normal;
}

.reviews__author-name {
  margin-bottom: 15px;
}

.reviews__author-email {
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.reviews__toggle-button {
  width: 130px;
  height: 52px;
  margin-bottom: 38px;
  background-color: #ffffff;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &_forward {
    margin-left: -5px;
    transform: rotate(180deg);
  }
}

.reviews__write-button {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
  }

  .reviews__title {
    margin-bottom: 55px;
  }

  .reviews__write-button {
    align-self: flex-start;
    width: 175px;
  }

  .reviews__content {
    order: 1;
    width: 100%;
    margin-bottom: 120px;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__author {
    width: 334px;
  }

  .reviews__toggle-button-wrapper {
    position: absolute;
    right: 20px;
    bottom: 164px;
  }

  .reviews__toggle-button {
    border: none;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 875px;
  }

  .reviews__text {
    width: 775px;
  }
}
