.reviews {
  padding: 31px 30px 40px;
}

.reviews__title {
  margin-bottom: 38px;
}

.reviews__content {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author {
  display: block;
  margin-bottom: 35px;
  font-style: normal;
}

.reviews__author-name {
  margin-bottom: 15px;
}

.reviews__author-email {
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.reviews__toggle-button {
  width: 130px;
  height: 52px;
  margin-bottom: 38px;
  background-color: #ffffff;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &_forward {
    margin-left: -5px;
    transform: rotate(180deg);
  }
}

.reviews__write-button {
  margin-bottom: 5px;
}
