.reviews {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 36px 0 40px;

  &::after {
    .pseudo;
    left: -30px;
    bottom: -7px;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 6px;
    background-position-x: -7px;
  }
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__content {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__br {
  display: none;
}

.reviews__author {
  display: block;
  font-style: normal;
}

.reviews__author-name {
  margin-bottom: 15px;
}

.reviews__author-email {
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.reviews__toggle-button {
  width: 130px;
  height: 52px;
  margin-bottom: 38px;
  background-color: #ffffff;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &_forward {
    margin-left: -5px;
    transform: rotate(180deg);
  }
}

.reviews__write-button {
  margin-bottom: 5px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 78px;
    padding-bottom: 100px;

    &::before {
      .pseudo;
      top: 0;
      left: -50px;
      z-index: -1;
      width: 350px;
      height: 457px;
      background-color: #e9e9e9;
      background-image: url("../img/review@1x.jpg");
      background-size: 350px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/review@2x.jpg");
      }
    }

    &::after {
      bottom: -1px;
      left: -50px;
      width: 768px;
      height: 15px;
      background-size: 768px 15px;
      background-position-x: 18px;
    }
  }

  .reviews__title {
    margin-bottom: 47px;
    margin-left: -5px;
  }

  .reviews__write-button {
    align-self: flex-start;
    width: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .reviews__content {
    order: 1;
    width: 100%;
  }

  .reviews__text {
    margin-bottom: 58px;
    font-size: 17px;
  }

  .reviews__author {
    width: 334px;
  }

  .reviews__author-name {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
  }

  .reviews__toggle-button-wrapper {
    position: absolute;
    right: 12px;
    bottom: 134px;
  }

  .reviews__toggle-button {
    width: 65px;
    margin-bottom: 0;
    margin-left: 16px;
    border: none;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 875px;
    padding-top: 68px;
    padding-bottom: 154px;

    &::before {
      left: -175px;
    }

    &::after {
      left: -176px;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
      background-position-x: 27px;
    }
  }

  .reviews__write-button {
    margin-top: 8px;
  }

  .reviews__text {
    width: 775px;
    margin-bottom: 40px;
  }

  .reviews__br {
    display: block;
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__toggle-button-wrapper {
    bottom: 188px;
  }
}
