.site-navigation {
  .ul-style-none;
  width: 100%;
}

.site-navigation__item {
  border-bottom: 1px solid #ececec;
}

.site-navigation__link {
  display: block;
  padding: 28px 10px 27px 10px;
  text-align: center;
  color: #000000;

  &:hover[href],
  &:focus[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .site-navigation {
    position: relative;
    display: flex;
    width: 334px;
  }

  .site-navigation__item {
    width: 167px;
    border: none;
  }

  .site-navigation__link {
    padding-top: 17px;
    padding-left: 0;
    font-size: 15px;
    text-align: left;
  }
}

@media (min-width: 1150px) {
  .site-navigation {
    width: 440px;
    background-color: #ffffff;
  }

  .site-navigation__item {
    width: 206px;
    padding-left: 37px;
    border-right: 1px solid rgba(68, 68, 68, 0.1);
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);

    &_catalog {
      width: 234px;
      padding-left: 50px;
    }

    &:last-child {
      border-right: none;
    }
  }

  .site-navigation__link {
    padding-top: 30px;
    text-align: left;
    font-size: 17px;
  }
}
