.social {
  .ul-style-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 26px 5px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    .social__svg {
      fill: #46c1ae;
    }
  }

  &:active {
    .social__svg {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

.social__svg {
  fill: #231f20;
}

@media (min-width: 768px) {
  .social {
    align-items: flex-end;
    width: 300px;
    padding: 0 5px;
    border: none;
  }
}
