.video-block {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  border: 1px solid #ececec;
}

.video-block__title {
  position: relative;
  margin-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;

  &::before {
    .pseudo;
    top: 7px;
    left: 35px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.video-block__video {
  position: relative;
  margin-bottom: 34px;
}

.video-block__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.video-block__button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .video-block {
    padding-top: 0;
    padding-bottom: 46px;
  }

  .video-block__title {
    order: 1;
    padding-left: 102px;
    font-size: 20px;

    &::before {
      top: -5px;
      left: 47px;
    }
  }

  .video-block__description {
    order: 2;
    padding: 0 42px;
  }

  .video-block__button {
    order: 3;
    width: 584px;
  }
}

@media (min-width: 1150px) {
  .video-block {
    display: block;
    position: relative;
    width: 370px;
    padding: 100px 80px 60px;
  }

  .video-block__title {
    padding-left: 0;

    &::before {
      top: -65px;
      left: 0;
    }
  }

  .video-block__description {
    margin-bottom: 56px;
    padding: 0;
  }

  .video-block__video {
    position: absolute;
    top: 0;
    left: -682px;
  }

  .video-block__button {
    width: 230px;
  }
}
