.video-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0 32px;
  border: 1px solid #ececec;

  &_hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &_active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-block__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;

  &::before {
    .pseudo;
    top: 7px;
    left: 35px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.video-block__video {
  position: relative;
  margin-bottom: 25px;
}

.video-block__description {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 33px;
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.video-block__button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .video-block {
    padding-top: 0;
    padding-bottom: 46px;
  }

  .video-block__title {
    order: 1;
    padding-left: 107px;
    font-size: 20px;
    margin-bottom: 33px;

    &::before {
      top: -5px;
      left: 41px;
    }
  }

  .video-block__video {
    margin-bottom: 38px;
  }

  .video-block__description {
    order: 2;
    padding: 0 39px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .video-block__button {
    order: 3;
    width: 584px;
  }
}

@media (min-width: 1150px) {
  .video-block {
    display: block;
    position: relative;
    width: 370px;
    padding: 92px 56px 60px 80px;
  }

  .video-block__title {
    margin-bottom: 35px;
    padding-left: 0;

    &::before {
      top: -52px;
      left: 0;
    }
  }

  .video-block__description {
    margin-bottom: 45px;
    padding: 0;
  }

  .video-block__video {
    position: absolute;
    top: 0;
    left: -682px;
  }

  .video-block__button {
    width: 230px;
  }
}
