.week-product {
  padding: 35px 31px 30px;
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__promo {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-product__description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  color: #444444;
}

.week-product__feature {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.week-product__image {
  margin-bottom: 30px;
}

.week-product__price {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  text-align: center;
  color: #444444;
}

.week-product__button {
  margin-bottom: 5px;
}
