.week-product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 0 30px;

  &::after {
    .pseudo;
    left: -30px;
    bottom: -5px;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 6px;
    background-position-x: -7px;
  }
}

.week-product__title {
  margin-bottom: 5px;
}

.week-product__promo {
  display: block;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-product__description {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  color: #444444;
}

.week-product__feature {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.week-product__image {
  width: 260px;
  height: auto;
  margin-bottom: 19px;
  overflow: hidden;
}

.week-product__price {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  text-align: center;
  color: #444444;
}

.week-product__button {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .week-product {
    padding-top: 16px;
    padding-bottom: 62px;

    &::after {
      bottom: -1px;
      left: -50px;
      width: 768px;
      height: 15px;
      background-size: 768px 15px;
      background-position-x: 21px;
    }
  }

  .week-product__title {
    width: 500px;
    margin-bottom: 49px;
  }

  .week-product__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 334px;
  }

  .week-product__promo {
    width: 125px;
    margin-bottom: 5px;
    margin-left: auto;
    padding-top: 12px;
    line-height: 17px;
    text-align: center;
  }

  .week-product__description {
    width: 292px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .week-product__image {
    position: absolute;
    top: 9px;
    right: -332px;
    width: 333px;
  }

  .week-product__feature {
    margin-bottom: 56px;
  }

  .week-product__price {
    margin: 0 0 35px 70px;
    font-size: 20px;
  }

  .week-product__button {
    width: 290px;
  }
}

@media (min-width: 1150px) {
  .week-product {
    justify-content: flex-end;
    width: 700px;
    padding-top: 18px;
    padding-bottom: 90px;

    &::after {
      left: 0;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
      background-position-x: 24px;
    }
  }

  .week-product__title {
    order: 1;
    width: 527px;
    margin-right: 3px;
    margin-left: 46px;
  }

  .week-product__promo {
    width: 85px;
    padding-top: 15px;
  }

  .week-product__wrapper {
    order: 2;
    width: 350px;
    margin-right: 175px;
  }

  .week-product__description {
    margin-bottom: 48px;
  }

  .week-product__feature {
    margin-bottom: 106px;
  }

  .feature-table__cell {
    padding: 8px 10px 12px 0;
  }

  .week-product__price {
    margin-left: 73px;
  }

  .week-product__image {
    top: -158px;
    right: -524px;
    z-index: -1;
    width: 525px;
  }
}
